<a href="#/home">Back</a>

<div ng-controller="imgCtrl" ng-init="getUserImg()">
    <h1>All My Items On Sale</h1>
    <div style="margin-top: 24px; width: auto; border: 0.5px solid" ng-repeat="image in userImgs">
        <h1>{{image.title}}</h1>
        <br/>
        <img width="50%" ng-src="{{image.path}}" /><br/>
        <p>{{image.description}}</p> 
        <p>${{image.price}}</p><br/>
        <a href="#/detail/{{image.id}}">View Post</a><br/><br/>
        
        Update Title <input ng-model="newtitle"/><button ng-click="upImg(newtitle, 'title', image.id)">Update</button><br/><br/>
        Update Description <input ng-model="newdes"/><button ng-click="upImg(newdes, 'description', image.id)">Update</button><br/><br/>
        <button ng-click="delImg(image.id)">Delete</button>
    </div>
</div>
<br/>
<div ng-controller="commCtrl" ng-init="getUserComm()">
    <h1>All My Comments</h1>
    <table border="1">
        <tr>
            <th>Item Title</th>
            <th>Item Id</th>
            <th>Comment</th>        
        </tr>
        <tr ng-repeat="comm in userComms">
            <td>{{comm.title}}</td>
            <td>{{comm.imageid}}</td>
            <td><input ng-model="comment" type="text" value="{{comm.text}}"></td>
            <td><button ng-click="delCom(comm.imageid, comm.text)">Delete</button></td>
        </tr>
        
    </table>
</div>
<div ng-controller="userCtrl">
    <h1>Update User Profile</h1>
        Username: <input ng-model="nn" type="text" id="udname" placeholder="username" /> <br/>
        Password: <input ng-model="np" type="password" placeholder="password"/><br/>
        Address: <input ng-model="na" type="text" id="udadd" placeholder="address" /> <br/>
        Phone: <input ng-model="nph" type="text" id="udphone" placeholder="phone" /> <br/>
        Email: <input ng-model="ne" type="text" id="udemail" placeholder="email" /> <br/>
  
        <button ng-click="updateUser(nn, np, na, nph, ne)">Update</button>
    
</div>