<!DOCTYPE html>
<html>
<head>
<title>Cel's Storage</title>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<body>
    
<input type='text' id='username' placeholder='username' />
<input type='text' id='password' placeholder='password' />
<button id='sub'>Login</button>

<input type='text' id='message' placeholder='Type da msg' />
<button id='msg_sub'>Submit Message</button>



 <!--       <div>
            <span id='{{myid}}'>{{hi}}</span>
            <div ng-repeat="blah in msgs">
                <span>{{blah.username}}</span> : 
                <span>{{blah.message}}</span> - 
                <span>{{blah.likeNum}} <img height='25' src="http://www.brandsoftheworld.com/sites/default/files/styles/logo-thumbnail/public/102011/like_icon.png?itok=nkurUMlZ" /></span>
                <button ng-click="clickFunc(blah.msg_id)">Like!</button>
            </div>
        </div>  -->
    
    
    
    
    <!-------------------------- ITEM NAME -------------------------->
        <h1>Items</h1>    

            <strong>Update Item Name</strong>
            <div id="update"></div>
            <button id="update_itemname">UPDATE NAME</button>
            <br/><br/>

            <strong>Insert Item Info</strong>
            <br/>
            <input id="itemname" type="text" placeholder="Item name"/>
            <input id="itemdes" type="text" placeholder="Item description"/>
            <input id="itemprice" type="text" placeholder="Item price"/>
            <button id="submititem">Store</button>

        <br/><br/>
        <strong>View Items</strong>
        <div id="all_users"></div>


    <!-------------------------- ITEM DESCRIPTION   
        <h1>Item Description</h1>    

            <strong>Update Item Description</strong>
            <div id="updatedes"></div>
            <button id="update_des">UPDATE NAME</button>
            <br/><br/>

            <strong>Insert Item Name</strong>
            <br/>
            <input id="itemdes" type="text" placeholder="Item description"/>
            <button id="submititemdes">Store</button>

        <br/><br/>
        <strong>View Item Name</strong>
        <div id="all_des"></div>-------------------------->



    <!-------------------------- ITEM PRICE 
        <h1>Item Price</h1>  

            <strong>Update Item Price</strong>
            <div id="updateprice"></div>
            <button id="update_price">UPDATE NAME</button>
            <br/><br/>

            <strong>Insert Item Name</strong>
            <br/>
            <input id="itemprice" type="text" placeholder="Item price"/>
            <button id="submititemprice">Store</button>

        <br/><br/>
        <strong>View Item Name</strong>
        <div id="all_prices"></div>-------------------------->

     
</body>

<script>
        
 
    $(document).ready(function(){
        var user_id = -1;
        //modify our files a little bit later
        document.getElementById("sub").onclick = function(){
            //connect and insert
            $.ajax({
                url:"../cont/username_c.php",
                type:"post",
                dataType:"json",
                data: {
                    method:"login",
                    username: document.getElementById("username").value,
                    password: document.getElementById("password").value
                },
                success:function(resp){
                    alert(resp[0].id);
                    console.log(resp);
                    user_id = resp[0].id;
                }
            });
        }

        document.getElementById("msg_sub").onclick = function(){
             $.ajax({
                url:"controller/message.php",
                type:"post",
                dataType:"json",
                data: {
                    method:"insert",
                    user_id: user_id,
                    msg: document.getElementById("message").value
                },
                success:function(resp){
                    alert("Logged in!");
                    console.log(resp);
                    user_id = resp[0].id;
                    sessionStorage.id = resp[0].id;
                }
            });

        }
    });
 
    
    
$(document).ready(function(){

////////////////////////////////////////////////////////////  ITEM NAME   ////////////////////////////////////////////////////////////
//INSERTING ITEM NAME
document.getElementById("submititem").onclick = function(){
	var itemname = document.getElementById("itemname").value;
    var itemdes = document.getElementById("itemdes").value;
    var itemprice = document.getElementById("itemprice").value;
    
	$.ajax({
		url: "../cont/items_c.php",
		dataType:"html",
		data: {
				method: "insert",
				itemname:itemname,
                itemdes:itemdes,
                itemprice:itemprice
				},
				type: "POST",
				success: function(resp){
					alert("YES");
                    location.reload();
				}
	});
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


//VIEWING ITEMS
	$.ajax({
		url: "../cont/items_c.php",
		dataType:"json",
		data: {
				method: "view",
				
				},
				type: "POST",
				success: function(resp){
					console.log(resp);
                    
                    for(var i = 0; i < resp.length; i++){
					var pass_div = document.createElement("div");
                   //var breaky = document.createElement("br");
                    var namespan = document.createElement("h4");
                    var desspan = document.createElement("h4");
                    var pricespan = document.createElement("h4");
                    pass_div.style.border = '4px solid black';                        
                    namespan.innerHTML =  resp[i].name; 
                    desspan.innerHTML =  resp[i].description;
                    pricespan.innerHTML =  resp[i].price;
				  //pass_div.innerHTML = "<br/> Item Name </br>" + resp[i].name + " <br/><br/> Description <br/>" +  resp[i].description + "<br/> <br/> Price <br/>" + resp[i].price
					document.getElementById("all_users").appendChild(pass_div);
					pass_div.appendChild(namespan);
                    pass_div.appendChild(desspan);
                    pass_div.appendChild(pricespan);
                        
					//HTML5 DATA!! we put the database id into the div
					//pass_div.dataset.id = resp[i].id;
					namespan.dataset.id = resp[i].id;
                    desspan.dataset.id = resp[i].id;
                    pricespan.dataset.id = resp[i].id;
                        
                        
////////////////////UPDATE ITEM INFO ONCLICK
				/*	namespan.onclick = function(){
					
					var pass_input = document.createElement("input");
					pass_input.id = "itemname";
					pass_input.value = this.innerHTML;
					document.getElementById("update").innerHTML="";
					document.getElementById("update").appendChild(pass_input);
					document.getElementById("update_itemname").dataset.passid = this.dataset.id;
					
					editDiv = this;
					//document.getElementById("update_but").dataset.curDiv = this;

					} */
                                        
                    //					
                    desspan.onclick = function(){
					
					var pass_input = document.createElement("input");
					pass_input.id = "itemdes";
					pass_input.value = this.innerHTML;
					document.getElementById("update").innerHTML="";
					document.getElementById("update").appendChild(pass_input);
					document.getElementById("update_itemname").dataset.passid = this.dataset.id;
					
					editDiv = this;
					//document.getElementById("update_but").dataset.curDiv = this;

					}
                    
                    //					
                 /*   pricespan.onclick = function(){
					
					var pass_input = document.createElement("input");
					pass_input.id = "itemprice";
					pass_input.value = this.innerHTML;
					document.getElementById("update").innerHTML="";
					document.getElementById("update").appendChild(pass_input);
					document.getElementById("update_itemname").dataset.passid = this.dataset.id;
					
					editDiv = this;
					//document.getElementById("update_but").dataset.curDiv = this;

					} */
        
					
                    
////////////////////DELETE!!!!
					var pass_del = document.createElement("button");
					pass_del.dataset.id = resp[i].id;
					pass_del.innerHTML = "Delete";
					document.getElementById("all_users").appendChild(pass_del);
					pass_del.onclick = function(){
					var pass_id = this.dataset.id;
					 
					 $.ajax({
					 	url: "../cont/items_c.php",
						dataType: "json",
						type: "POST",
						data:{
							method: "delete",
							id:pass_id
						}, 
						success: function(resp){
								alert("DELETED!");
								location.reload();
								//editDiv.parentNode.removeChild(editDiv);
								//this.parentNode.removeChild(this);
						}
					 });
					}
				}
                    
				} //success close
	});
    
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    
//UPDATE ITEM NAME
document.getElementById("update_itemname").onclick = function() {
 
var cur_button = this;
var item_id = this.dataset.passid;
						$.ajax({
							url: "../cont/items_c.php",
							dataType: "json",
							data: {
								method:"update",
								id: item_id,
								itemname: document.getElementById("itemname").value,
                                itemdes: document.getElementById("itemdes").value,
                                itemprice: document.getElementById("itemprice").value
							},
							type: "POST",
							success:function(resp){
								alert("UPDATED!!");
						//		editDiv.innerHTML = document.getElementById("itemname").value
                                editDiv.innerHTML = document.getElementById("itemdes").value
                        //      editDiv.innerHTML = document.getElementById("itemprice").value
							}
						}); //ajax close
} //update_but onclick close
    


//};
}); //script function close

    
</script>

</html>